<div class="row justify-content-center" style="margin-top: 20vh">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">sign-in</h4>
      </div>
      <div class="card-body pl-5 pr-5">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          label: false,
                          placeholder: 'Email',
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          label: false,
                          placeholder: 'Password',
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", :class=>"btn btn-md btn-success ml-0" %>
              <%= link_to "Sign Up", new_user_registration_path, :class=>"btn btn-md btn-info" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
